BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=123456789,987654321
DATABASE_URL=postgresql://user:password@host:5432/database
CARD_NUMBER=0000 0000 0000 0000
CARD_OWNER=YOUR_CARD_OWNER
SUPPORT_CONTACT=@Parham88e
LOG_LEVEL=INFO
INSTANCE_LOCK_KEY=1377642930
